<p id="notice"><%= notice %></p>

<h1>Stuffs</h1>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th>Title</th>
      <th>Price</th>
      <th>Short description</th>
      <th>Preview image</th>
      <th>In stock</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody class="">
    <% @stuffs.each do |stuff| %>
      <tr>
        <td><%= stuff.title %></td>
        <td><%= stuff.price %></td>
        <td><%= stuff.short_description %></td>
        <td><%= stuff.preview_image %></td>
        <td><%= stuff.in_stock %></td>
        <td><%= stuff.slug %></td>
        <td><%= link_to 'Show', stuff %></td>
        <td><%= link_to 'Edit', edit_stuff_path(stuff) %></td>
        <td><%= link_to 'Destroy', stuff, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<hr>

<%= link_to 'Add New Stuff', new_stuff_path %>
