<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-5">
    <%= render 'karusel' %>
  </div>

  <div class="col-6">
    <h3 class="h"><%= @stuff.title %></h3>
    <br>
    <p class="price"><span class="discount text-muted">1000 UAH</span>  <%= @stuff.price %> UAH</p><br>
    <% if @stuff.in_stock %>
      <p class="in-stock">Есть в наличии / <%= link_to 'Добавить в корзину', root_path, { :class => 'in-stock' } %></p>
      <% else %>
        <p class="not-in-stock">Нет в наличии / <%= link_to 'Сообщить о поступлении', root_path, { :class => 'not-in-stock' } %></p>
    <% end %>
    <p><%= @stuff.full_description %></p>
    <% if true %>
      <hr>
      <%= link_to 'Edit', edit_stuff_path(@stuff) %> |
      <%= link_to 'Back', stuffs_path %>
    <% end %>
  </div>
</div>

